/* Theming */

body {
    color: #c6cbd0;
    background-color: #3e4245;
}

[class*="container"] {
    background-color: #181a1b;

}

hr {
    background-color: #c6cbd0;
}

/* Carousel */

.carousel-item img{
    justify-content: center;

    height: 50vw;
    min-height: 50vh;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(50%);
}

.carousel-caption {
    bottom: 5rem;
    z-index: 10;
}

/* About */
.about img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
    
    /* justify-content: center; */
    /* text-align: center; */
}

.about > h2{
    padding-top: 0.5em;
    text-align: center;
    margin: auto;
}